
<h2 class="page-title mt-4">Category</h2>
<a href="/sale/category/add" class="btn btn-primary">Add a New Category</a>
<br><br>


<table class="table table-striped">

    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {{#each pages}}
            <td>{{this.title}}</td>
            <td><a href="/sale/category/edit{{this.slug}}">Edit</a></td>
            <td><a id="delete" class="confirmDelete" href="/sale/category/delete/{{this._id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

