<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background: url('/img/error-404.jpg'); background-size: cover; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0;"></div>
    <a href="/" style="z-index: 10; left: 35%; z-index: 3; position: absolute; top: 50px; font-size: 50px; color: #fdffff; 
    text-decoration: none;">Back to Home Page</a>
</body>
</html>